$font-size-008:         10px;
$font-size-007:         12px;
$font-size-006:         14px;
$font-size-005:         16px;
$font-size-004:         20px;
$font-size-003:         24px;
$font-size-002:         34px;
$font-size-001:         48px;
$font-size-000:         60px;
$font-weight-000:         400;
$font-weight-001:         500;
$font-weight-002:         700;
$font-weight-003:         900;
$font-family-000:         Roboto;